*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: #191a20;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  color: #FF006B;
  border: 1px solid #14151b;
  outline: none;
  background-color: #26272D;
  transition: background-color 200ms ease;
}

.calculator > button:hover {
  background-color: rgba(38, 39, 45, .5);
}

.span-two {
  grid-column: span 2;
}

.value {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.value .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}
.value .current-operand {
  color: white;
  font-size: 2.5rem;
}